.color {
  color: #dc88fe;
  color: #f597d1;
  color: #146967;
  color: #00a389;
  color: #92c25f;
}

.monument {
  color: #93fdcd;
  color: #48765a;
  color: #3f8966;
  color: #305443;
  color: #003f42;
  color: #fbeade;
  color: #fdd49c;
  color: #fef1ce;
  color: #9bceb8;
  color: #91d05e;
  color: #6ecd95;
  color: #ace061;
  color: #e56566;
  color: #fe8d9e;
}

.s1 {
  color: #5ceea7;
  color: #d1ffe9;
  color: #ffffff;
}

.s2 {
  color: #9cc3c0;
  color: #76a4a2;
  color: #538586;
  color: #345f66;
  color: #182b32;
}

.s3 {
  color: #8be9fd;
  color: #8fdefe;
  color: #409bbd;
  color: #4d638c;
  color: #1b1f23;
}

.s4 {
  color: #bbbab3;
  color: #707b89;
  color: #f0ead6;
  color: #ffc919;
  color: #f0ba58;
  color: #50fa7b;
}

.s5 {
  color: #f0386b;
  color: #ff0099;
  color: #ff79c6;
  color: #bd93f9;
}

.s6 {
  color: #6272a4;
  color: #818eb6;
}
